.mainpage{
    display: flex;
    height: 100vh;
}
.products{
    width: 50%;
    margin-top: 50px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}